.zero {
    width: 200px;
    height: 150px;
    background-color: aqua;
    margin-bottom: 30px;
    }
    
    .one {
        width: 200px;
        height: 150px;
        background-color: aliceblue;
    }